/* global */
body {
	margin: 0;
	/*background-color: rgb(237,237,237);*/
	background-color: #fcfcfc;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

_lineChart {
	/*background-color: rgb(237,237,237);*/
	background-color: #fcfcfc;
}

text {
	font: 12px sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
	fill: #444;
}